/*

0 - 600px:          Phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
1200px - beyond:    Actual styles

*/
/*

$breakpoint argument choices
- phone
- tablet-portrait
- tablet-landscape

1em = 16px

*/
@keyframes move-down-text {
  0% {
    transform: translateY(-20rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes appear-text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scroll-down-move {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(-50%); }
  50% {
    opacity: 1;
    transform: translateY(2rem) translateX(-50%); }
  100% {
    opacity: 0;
    transform: translateY(4rem) translateX(-50%); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: 'Montserrat', sans-serif; }

.heading-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
  text-align: center; }
  .heading-primary__name {
    color: #ddd;
    font-size: 8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 4rem;
    animation-name: move-down-text;
    animation-duration: 2s;
    animation-timing-function: ease; }
    @media (max-width: 56.25em) {
      .heading-primary__name {
        font-size: 7rem;
        letter-spacing: 2px; } }
    @media (max-width: 37.5em) {
      .heading-primary__name {
        font-size: 5rem;
        letter-spacing: 0; } }
  .heading-primary__text {
    position: relative;
    color: #ddd;
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    animation-name: appear-text;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: backwards; }
    @media (max-width: 56.25em) {
      .heading-primary__text {
        font-size: 8rem;
        letter-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary__text {
        font-size: 6rem;
        letter-spacing: 0; } }
    .heading-primary__text::after {
      content: "";
      position: absolute;
      background-color: #ddd;
      width: 30%;
      height: 3px;
      left: 50%;
      top: -1.5rem;
      transform: translateX(-50%); }
      @media (max-width: 56.25em) {
        .heading-primary__text::after {
          height: 2px; } }
      @media (max-width: 37.5em) {
        .heading-primary__text::after {
          height: 1px; } }

.u-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.u-center-text {
  text-align: center; }

.u-margin-top-big {
  margin-top: 8rem; }

.scroll-down-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 88%;
  width: 4rem;
  height: 6.5rem;
  background-color: transparent;
  border-left: transparent;
  border: 3px solid #ddd;
  border-radius: 25px;
  cursor: pointer; }
  .scroll-down-btn::before, .scroll-down-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    background-color: #ddd;
    width: 3px;
    height: 9px;
    border-radius: 25px; }
  .scroll-down-btn::after {
    height: 3px;
    animation-name: scroll-down-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-play-state: linear; }

.scroll-up-btn {
  position: absolute;
  top: 0;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer; }
  .scroll-up-btn .up-arrow {
    position: absolute;
    left: 22%;
    top: 35%;
    color: #ddd;
    width: 2rem;
    height: 2rem;
    border: 2px solid #ddd;
    border-color: #ddd transparent transparent #ddd;
    border-radius: 3px;
    background-color: transparent;
    transform: rotate(45deg); }

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  animation-name: appear-text;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: backwards; }

.navbar__link, .navbar__link:link, .navbar__link:visited {
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  margin: 5rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: all .3s; }
  .navbar__link::after, .navbar__link:link::after, .navbar__link:visited::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    margin-top: .3rem;
    background-color: #ddd;
    transition: all .3s; }
  .navbar__link:hover::after, .navbar__link:link:hover::after, .navbar__link:visited:hover::after {
    width: 100%; }

/* width */
::-webkit-scrollbar {
  width: 1.2rem; }

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f7f7; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7f7f7; }

.footer {
  background-color: #1a1a1a;
  padding-top: 3rem;
  position: relative; }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ddd;
    position: relative; }
    @media (max-width: 37.5em) {
      .footer__container {
        flex-direction: column;
        text-align: center; } }
  .footer .footer__items {
    list-style: none;
    width: 100%; }
    @media (max-width: 37.5em) {
      .footer .footer__items {
        margin-bottom: 3rem; } }
  .footer .footer__item {
    font-size: 1.4rem;
    padding: .5rem 0; }
    .footer .footer__item-link {
      color: #ddd;
      text-decoration: none; }
      .footer .footer__item-link:hover {
        text-decoration: underline; }
    @media (max-width: 37.5em) {
      .footer .footer__item {
        font-size: 2rem;
        padding: .8rem 0; } }
  .footer .title {
    font-size: 2rem; }
    @media (max-width: 37.5em) {
      .footer .title {
        font-size: 3rem; } }
  .footer__line {
    width: 50%;
    height: 1px;
    background-color: #ddd;
    margin: 1rem 0; }
    @media (max-width: 37.5em) {
      .footer__line {
        display: inline-block; } }
  .footer .developer {
    color: #ddd;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.2rem; }
    .footer .developer__link {
      text-decoration: none;
      color: #ddd; }
      .footer .developer__link:hover {
        text-decoration: underline; }
    @media (max-width: 37.5em) {
      .footer .developer {
        font-size: 1.6rem; } }

.header {
  background: linear-gradient(to bottom right, rgba(19, 78, 94, 0.8), rgba(113, 178, 128, 0.8)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  position: relative; }

.about {
  background-color: #f7f7f7; }
  .about__container {
    display: flex;
    overflow: hidden;
    padding: 8rem 0; }
    @media (max-width: 56.25em) {
      .about__container {
        padding: 5rem 0; } }
    @media (max-width: 37.5em) {
      .about__container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 4rem 0; } }
  .about__photo {
    width: 50%;
    background-image: url("../img/person.jpg");
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-position-x: center;
    background-size: cover;
    border-radius: 5px; }
    @media (max-width: 37.5em) {
      .about__photo {
        width: 100%;
        height: 250px;
        background-position-y: 70%; } }
  .about__text-box {
    width: 50%;
    height: 100%;
    padding: 3rem;
    position: relative;
    text-align: center;
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (max-width: 37.5em) {
      .about__text-box {
        width: 100%;
        padding: 0 0 3rem 0; } }
  .about__title {
    font-size: 5rem;
    margin-bottom: 3rem; }
  .about__text {
    font-size: 2rem;
    line-height: 4rem;
    position: relative;
    padding-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .about__text {
        line-height: 3.5rem; } }
    .about__text::after {
      content: "";
      width: 60%;
      height: 1px;
      background-color: #777;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 100%; }

.quote {
  background: linear-gradient(to right, rgba(19, 78, 94, 0.8), rgba(113, 178, 128, 0.8)), url("../img/asphalt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  background-attachment: fixed;
  text-align: center;
  color: #ddd;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 5rem;
  padding: 6rem 0; }
  @media (max-width: 37.5em) {
    .quote {
      line-height: 4rem; } }
  .quote__text {
    margin-bottom: 2rem; }
    .quote__text::before {
      content: "\201c";
      color: #ddd;
      font-size: 10rem;
      font-family: sans-serif;
      position: relative;
      top: 1rem; }
  .quote__author {
    text-align: right;
    font-weight: 300; }

.gallery {
  background-color: #f7f7f7;
  padding: 8rem 0; }
  @media (max-width: 56.25em) {
    .gallery {
      padding: 5rem 0; } }
  @media (max-width: 37.5em) {
    .gallery {
      padding: 4rem 0; } }
  .gallery__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem; }
  .gallery__item {
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 1s; }
  .gallery__item-animate {
    opacity: 1;
    transform: translateY(0); }
  .gallery__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    opacity: .8;
    transform: scale(1.05);
    transition: all .3s; }
    .gallery__photo:hover {
      transform: scale(1);
      opacity: 1; }
