// Color
$color-primary-dark: #134e5e;
$color-primary-light: #71b280;
$color-grey-light-text: #ddd;
$color-grey-light-text-2: #777;
$color-grey-light-background: #f7f7f7;
$color-grey-dark: #1a1a1a;
$color-black: #000;